.info {
    width: 650px;
    border-radius: 30px;
    border: 10px solid seagreen;
    background-color: rgb(59, 47, 38);
    padding: 5px;
    font-weight: bolder;
    color: whitesmoke
}

strong {
    color: palegreen;
}